@import './theme/variables';

html, body, ion-app, ion-content {
  font-family: var(--ion-font-family);
}

ion-toolbar {
  --background: linear-gradient(90deg, var(--ion-color-primary), var(--ion-color-secondary));
  color: #fff;
}

form ion-note {
  margin-left: 0.5rem;
}
